header {
    font-family: "Shrikhand", cursif;
    font-family: "Roboto", sans-serif;
    text-align: center;
    box-shadow: 0px 3px 3px 1px grey;
    padding: 0.3rem;
    margin: 0;
    position: relative;
  }